footer
    section.section
        .container
            h2.title.has-text-centered Comment aider ?
            .columns
                .column.is-3
                    h4.title.is-spaced.is-4 Particulier
                    p.subtitle.is-6 Voisins
                    a(href="#") Voir plus
                .column.is-3
                    h4.title.is-spaced.is-4 Professsionel
                    p.subtitle.is-6 Entreprises
                    a(href="#") Voir plus
                .column.is-3
                    h4.title.is-spaced.is-4 Hopitaux
                    p.subtitle.is-6 Je souhaite faire un don aux hopitaux de France
                    a(href="#") Voir plus
                .column.is-3
                    h4.title.is-spaced.is-4 Platypus
                    p.subtitle.is-6 Qui sommes-nous?
                    a(href="#") Découvrir notre action