header
  .container
    .jumbotron
      h1.title.has-text-centered Platypus
      nav
        a(href='/services/add').button Proposer un service
          i(style='margin-left:4px;').fas.fa-plus-square
        a(href='/services').button Afficher toutes les propositions
        a(href='/demands/add').button Demander un service
          i(style='margin-left:4px;').fas.fa-plus-square
        a(href='/demands/list').button Afficher toutes les demandes
        //a(href='/users/add').button Ajouter un user
          i(style='margin-left:4px;').fas.fa-plus-square
        a(href='/users').button Afficher tous les Utilisateurs
        form-group(action='/sessions?_method=DELETE', method='post')
          input(type='submit', value='Déconnexion').button.is-danger