header
  section.hero.is-light
    .hero-body
        .container.has-text-centered
            h1.title.is-spaced Platypus
            h2.subtitle ENTRAIDE ENTRE CITOYENS FACE AU COVID-19

            .buttons.is-centered
                a.control.button.is-primary(href="/services/add") Je souhaite aider
                a.control.button.is-dark(href="/demands/add") J'ai besoins d'aide
        .container.has-text-centered
          .block
            img(src="placeholder/icons/unicorn.svg", alt="")
            p Vous êtes un professionel ou un particulier ? Vous souhaitez participer à la solidarité national façe au COVID-19 ? Demandez de l'aide ou proposer vos services. 
                 
  section.section
  .container.has-text-centered
    .jumbotron
      nav
        a(href='/services').button.is-light Afficher toutes les propositions
        a(href='/demands/list').button.is-light Afficher toutes les demandes
        //a(href='/users/add').button Ajouter un user
          i(style='margin-left:4px;').fas.fa-plus-square
        a(href='/users').button.is-light Afficher tous les Utilisateurs