header
  .container
    .jumbotron
      h1.title.has-text-centered Todolist
      nav
        a(href='/services/add').button Proposer un service
          i(style='margin-left:4px;').fas.fa-plus-square
        a(href='/').button Afficher toutes les propositions
        a(href='/users/add').button Demander un service
          i(style='margin-left:4px;').fas.fa-plus-square
        a(href='/users').button Afficher tous les Utilisateurs
        form-group(action='/sessions?_method=DELETE', method='post')
          input(type='submit', value='Déconnexion').button.is-danger