header
  section.hero
    .hero-body
        .container.has-text-centered
            h1.title.is-spaced Platypus
            h2.subtitle ENTRAIDE ENTRE CITOYENS FACE AU COVID-19

            .buttons.is-centered
                a.control.button.is-primary(href="#") Je souhaite aider
                a.control.button.is-light(href="#") J'ai besoins d'aide
  section.hero
  .container
    .jumbotron
      h1.title.has-text-centered Todolist
      nav
        a(href='/todos/add').button Ajouter une Todo
          i(style='margin-left:4px;').fas.fa-plus-square
        a(href='/').button Afficher tous les Todos
        a(href='/users/add').button Ajouter un Utilisateur
          i(style='margin-left:4px;').fas.fa-plus-square
        a(href='/users').button Afficher tous les Utilisateurs
        form-group(action='/sessions?_method=DELETE', method='post')
          input(type='submit', value='Déconnexion').button.is-danger