doctype html
html
head
    title Platypus
    //link(rel='stylesheet', href='styles/assets/css/style.css')
    link(rel='stylesheet', href='/style.css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css')
    script(defer='', src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
body
    .container.is-fluid
        nav.navbar
            .container
                .navbar-brand
                    a.navbar-item(href="home") PLATYPUS
                    a.navbar-burger(role="button", aria-label="menu", aria-expanded="false")
                        span(aria-hidden="true")
                        span(aria-hidden="true")
                        span(aria-hidden="true")
                .navbar-menu
                    .navbar-start
                        a.navbar-item(href="particulier.html") Particulier
                        a.navbar-item(href="#") Professionel
                        a.navbar-item(target="_blank" href="https://www.fondationhopitaux.fr/nous-soutenir/") Hopitaux
                    .navbar-end
                        .navbar-item
                            .buttons
                                a.button.is-light(href="signup") Profil
                                a.button.is-primary(href="sessions") Connexion
    .column
    section.section
        .container.has-text-centered
            .columns.is-centered
                .column.is-5.is-4-desktop
                    if error
                        p.has-text-danger #{error}
                    form(action='signup', method='post')
                        .field
                            .control
                                input.input(name="lastname" type="text" placeholder="Nom")
                        .field
                            .control
                                input.input(name="firstname" type="text" placeholder="Prénom")
                        .field
                            .control
                                input.input(name="email" type="email" placeholder="Adresse mail")
                        .field
                            .control
                                input.input(name="username" type="text" placeholder="Pseudonyme")
                        .field
                            .control                        
                                input.input(name="password" type="password" placeholder="Mot de passe")
                        .field.is-grouped
                            .control
                                a.button.is-primary.is-outlined.is-fullwidth(href="sessions") Déjà inscrit
                            .control.is-expanded
                                input.is-fullwidth(type='submit', value='Valider').button.is-success

                        p J'accepte les conditions d'utilisations []
