doctype html
html
  include ../structure/head.pug
body
    .column
    section.section
        .container.has-text-centered
            .columns.is-centered
                .column.is-5.is-4-desktop
                    if error
                        p.has-text-danger #{error}
                    form(action='', method='post')
                        .field
                            .control
                                input.input(name="username" type="text" placeholder="Pseudonyme")
                        .field
                            .control
                                input.input(name="password" type="password" placeholder="Mot de passe")
                        .field.is-grouped
                            input(type='submit', value='Connexion').button.is-success
                            a(href='signup').button.is-info Inscription
                    .column