doctype html
html
  include ../structure/head.pug
  body
    include ../structure/header.pug
    .columns.is-mobile
      .column
      .column
        .label Message :
        p.is-size-4 #{service.message}
        .label Completion :
        if service.completion
          p.is-size-4 Fait
        else
          p.is-size-4 En cours
        .label Crée le :
        p.is-size-4 #{service.created_at}
        .label Mis à jour le :
        p.is-size-4 #{service.update_at}
      .column